Repository SID-Technologies/Pilum: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-goversion, run-regexp

run-goversion:
  name: run-goversion
  language: script
  entry: .pre-commit/run_goversion.sh
  pass_filenames: false

run-regexp:
  name: run-regexp
  language: script
  entry: .pre-commit/run_regexp.sh

docs
  .github/workflows/gotest.yml
  README.md
  SECURITY.md
Due: none

docs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue_template.md
  CODE_OF_CONDUCT.md
Due: none

feat: doc updates (#82)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/social-preview.png
  .github/workflows/gotest.yml
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.10021.1766981389069941000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.10090.1766981389078794000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.10091.1766981394659418000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.22124.1766982520164743000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.22251.1766982524621624000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.22315.1766982526390057000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.22335.1766982533083071000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.22401.1766982533093342000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.22402.1766982538673852000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.9904.1766981376171132000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.9956.1766981380625561000
  coverage/e2e/covcounters.827323b64ee57ab29cfcd4934345fdf3.9999.1766981382382255000
  coverage/e2e/covmeta.827323b64ee57ab29cfcd4934345fdf3
  public/demo.gif
Due: none

fix: handle bare and registry package naming
  cmd/init.go
  examples/embed.go
  ingredients/build/build.go
  ingredients/build/build_test.go
  lib/orchestrator/pipeline.go
  lib/orchestrator/pipeline_test.go
  lib/orchestrator/steps.go
  lib/recipe/recipe.go
  lib/recipe/validation_test.go
  recipes/gcp-cloud-run-job-recipe.yaml
  recipes/gcp-cloud-run-recipe.yaml
Due: run-goversion, run-regexp

fix: multi-region GCP deploys, registry_name docs, and template scaffolding (#83)
  cmd/init.go
  examples/embed.go
  ingredients/build/build.go
  ingredients/build/build_test.go
  lib/orchestrator/pipeline.go
  lib/orchestrator/pipeline_test.go
  lib/orchestrator/steps.go
  lib/recipe/recipe.go
  lib/recipe/validation_test.go
  recipes/gcp-cloud-run-job-recipe.yaml
  recipes/gcp-cloud-run-recipe.yaml
Due: run-goversion, run-regexp

more documentation fixes
  examples/AWS-Lambda/go.yaml
  examples/AWS-Lambda/node.yaml
  examples/AWS-Lambda/python.yaml
  examples/AWS-Lambda/rust.yaml
  examples/Azure-Container-Apps/go.yaml
  examples/Azure-Container-Apps/node.yaml
  examples/Azure-Container-Apps/python.yaml
  examples/Azure-Container-Apps/rust.yaml
  examples/GCP-Cloud-Run/go.yaml
  examples/GCP-Cloud-Run/node.yaml
  examples/GCP-Cloud-Run/python.yaml
  examples/GCP-Cloud-Run/rust.yaml
  examples/dotnet-service/pilum.yaml
  examples/java-service/pilum.yaml
  examples/nodejs-service/pilum.yaml
  examples/python-service/pilum.yaml
  examples/rust-service/pilum.yaml
Due: none

feat: update examples (#84)
  examples/AWS-Lambda/go.yaml
  examples/AWS-Lambda/node.yaml
  examples/AWS-Lambda/python.yaml
  examples/AWS-Lambda/rust.yaml
  examples/Azure-Container-Apps/go.yaml
  examples/Azure-Container-Apps/node.yaml
  examples/Azure-Container-Apps/python.yaml
  examples/Azure-Container-Apps/rust.yaml
  examples/GCP-Cloud-Run/go.yaml
  examples/GCP-Cloud-Run/node.yaml
  examples/GCP-Cloud-Run/python.yaml
  examples/GCP-Cloud-Run/rust.yaml
  examples/dotnet-service/pilum.yaml
  examples/java-service/pilum.yaml
  examples/nodejs-service/pilum.yaml
  examples/python-service/pilum.yaml
  examples/rust-service/pilum.yaml
Due: none

fixes
  lib/graph/graph.go
  lib/orchestrator/pipeline.go
  lib/service_info/get_services.go
  lib/service_info/get_services_test.go
Due: run-goversion, run-regexp

feat: additional output for dependenceis
  lib/orchestrator/pipeline.go
  lib/output/pipeline_output.go
Due: run-goversion, run-regexp

fix: subset deploys no longer report success while silently skipping dependencies (#86)
  lib/graph/graph.go
  lib/orchestrator/pipeline.go
  lib/output/pipeline_output.go
  lib/service_info/get_services.go
  lib/service_info/get_services_test.go
Due: run-goversion, run-regexp

fix: gpc allow unauthenticated
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_test.go
Due: run-goversion, run-regexp

fix: gpc allow unauthenticated (#87)
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_test.go
Due: run-goversion, run-regexp

feat: more authentication. testing
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run_test.go
Due: run-goversion, run-regexp

feat: more authentication testing (#88)
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run_test.go
Due: run-goversion, run-regexp

feat: GCP Cloud Run Networking
  .pre-commit-config.yaml
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_network_test.go
Due: run-goversion, run-regexp

feat: GCP Cloud Run Networking (#90)
  .pre-commit-config.yaml
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_network_test.go
Due: run-goversion, run-regexp

feat: rollback
  CLAUDE.md
  README.md
  cmd/helpers.go
  cmd/rollback.go
  ingredients/gcp/traffic.go
  lib/orchestrator/execution.go
  lib/orchestrator/execution_test.go
  lib/orchestrator/pipeline.go
  lib/orchestrator/preflight.go
  lib/orchestrator/preflight_test.go
  lib/orchestrator/steps_test.go
  lib/registry/commands.go
  lib/registry/commands_test.go
  lib/rollback/rollback.go
  lib/rollback/rollback_test.go
  lib/sysinfo/docker.go
  lib/sysinfo/docker_test.go
  recipes/gcp-cloud-run-from-image-recipe.yaml
  recipes/gcp-cloud-run-recipe.yaml
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

more
  go.mod
  lib/output/debug.go
  lib/output/output.go
  lib/output/pipeline_spinner.go
  lib/output/pipeline_spinner_test.go
  lib/output/termwidth_other.go
  lib/output/termwidth_unix.go
Due: run-goversion, run-regexp

feat: rollback (#91)
  CLAUDE.md
  README.md
  cmd/helpers.go
  cmd/rollback.go
  go.mod
  ingredients/gcp/traffic.go
  lib/orchestrator/execution.go
  lib/orchestrator/execution_test.go
  lib/orchestrator/pipeline.go
  lib/orchestrator/preflight.go
  lib/orchestrator/preflight_test.go
  lib/orchestrator/steps_test.go
  lib/output/debug.go
  lib/output/output.go
  lib/output/pipeline_spinner.go
  lib/output/pipeline_spinner_test.go
  lib/output/termwidth_other.go
  lib/output/termwidth_unix.go
  lib/registry/commands.go
  lib/registry/commands_test.go
  lib/rollback/rollback.go
  lib/rollback/rollback_test.go
  lib/sysinfo/docker.go
  lib/sysinfo/docker_test.go
  recipes/gcp-cloud-run-from-image-recipe.yaml
  recipes/gcp-cloud-run-recipe.yaml
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

feat(gcp): Cloud Run services can set the identity they run as
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_network_test.go
Due: run-goversion, run-regexp

feat(gcp): Cloud Run services can set the identity they run as (#92)
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_network_test.go
Due: run-goversion, run-regexp

feat(gcp): cloud_run no_traffic and tag for staged deploys
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_network_test.go
  ingredients/gcp/traffic.go
Due: run-goversion, run-regexp

feat(gcp): cloud_run no_traffic and tag for staged deploys (#94)
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_network_test.go
  ingredients/gcp/traffic.go
Due: run-goversion, run-regexp

fix(gcp): clear env vars and secrets when a deploy declares none
  ingredients/gcp/cloud_run_job.go
  ingredients/gcp/env_secret_flags_test.go
  ingredients/gcp/google_cloud_run.go
Due: run-goversion, run-regexp

feat(gcp): cloud_run.use_http2, and honor cloud_run.port for single-container deploys
  README.md
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_http2_test.go
  lib/registry/commands_test.go
  recipes/gcp-cloud-run-from-image-recipe.yaml
  recipes/gcp-cloud-run-recipe.yaml
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

fix(gcp): clear env vars and secrets when a deploy declares none (#95)
  ingredients/gcp/cloud_run_job.go
  ingredients/gcp/env_secret_flags_test.go
  ingredients/gcp/google_cloud_run.go
Due: run-goversion, run-regexp

feat(gcp): cloud_run.use_http2 and single-container cloud_run.port (#96)
  README.md
  ingredients/gcp/config.go
  ingredients/gcp/google_cloud_run.go
  ingredients/gcp/google_cloud_run_http2_test.go
  lib/registry/commands_test.go
  recipes/gcp-cloud-run-from-image-recipe.yaml
  recipes/gcp-cloud-run-recipe.yaml
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

docs(gcp): document cloud_run.service_account; pin its flag placement
  README.md
  ingredients/gcp/google_cloud_run_network_test.go
  lib/registry/commands_test.go
  recipes/gcp-cloud-run-from-image-recipe.yaml
  recipes/gcp-cloud-run-recipe.yaml
  schemas/pilum.yaml.schema.json
Due: run-goversion

docs(gcp): document cloud_run.service_account; pin its flag placement (#97)
  README.md
  ingredients/gcp/google_cloud_run_network_test.go
  lib/registry/commands_test.go
  recipes/gcp-cloud-run-from-image-recipe.yaml
  recipes/gcp-cloud-run-recipe.yaml
  schemas/pilum.yaml.schema.json
Due: run-goversion

test(schema): cover build.warm and build.warm_dir
  schemas/schema_test.go
Due: run-goversion

feat(build): warm shared build caches once before parallel builds
  README.md
  cmd/helpers.go
  lib/orchestrator/pipeline.go
  lib/orchestrator/warm.go
  lib/orchestrator/warm_test.go
  lib/output/pipeline_output.go
  lib/output/pipeline_output_test.go
  lib/service_info/service_info.go
  lib/types/pipeline.go
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

feat(build): warm shared build caches once before parallel builds (#98)
  README.md
  cmd/helpers.go
  lib/orchestrator/pipeline.go
  lib/orchestrator/warm.go
  lib/orchestrator/warm_test.go
  lib/output/pipeline_output.go
  lib/output/pipeline_output_test.go
  lib/service_info/service_info.go
  lib/types/pipeline.go
  schemas/pilum.yaml.schema.json
  schemas/schema_test.go
Due: run-goversion, run-regexp

feat(build): warm Go build caches automatically
  ingredients/build/build.go
  lib/orchestrator/warm.go
  lib/orchestrator/warm_test.go
  lib/path/path.go
  lib/path/path_test.go
  lib/service_info/service_info.go
  lib/service_info/service_info_test.go
  lib/toolchain/golang.go
  lib/toolchain/toolchain.go
  lib/toolchain/toolchain_test.go
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

feat(build): warm Go build caches automatically (#100)
  ingredients/build/build.go
  lib/orchestrator/warm.go
  lib/orchestrator/warm_test.go
  lib/path/path.go
  lib/path/path_test.go
  lib/service_info/service_info.go
  lib/service_info/service_info_test.go
  lib/toolchain/golang.go
  lib/toolchain/toolchain.go
  lib/toolchain/toolchain_test.go
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

feat(build): warm npm, pnpm, Yarn and Bun caches automatically
  examples/bun-service/Dockerfile
  examples/bun-service/index.ts
  examples/bun-service/package.json
  examples/bun-service/pilum.yaml
  examples/embed.go
  examples/embed_test.go
  lib/orchestrator/warm.go
  lib/templates/builds/bun.yaml
  lib/templates/templates.go
  lib/templates/templates_test.go
  lib/toolchain/node.go
  lib/toolchain/node_test.go
  lib/toolchain/toolchain.go
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

feat(build): warm npm, pnpm, Yarn and Bun caches automatically (#101)
  examples/bun-service/Dockerfile
  examples/bun-service/index.ts
  examples/bun-service/package.json
  examples/bun-service/pilum.yaml
  examples/embed.go
  examples/embed_test.go
  lib/orchestrator/warm.go
  lib/templates/builds/bun.yaml
  lib/templates/templates.go
  lib/templates/templates_test.go
  lib/toolchain/node.go
  lib/toolchain/node_test.go
  lib/toolchain/toolchain.go
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

feat(build): warm uv and pip caches automatically
  lib/toolchain/node.go
  lib/toolchain/python.go
  lib/toolchain/python_test.go
  lib/toolchain/toolchain.go
Due: run-goversion, run-regexp

feat(build): warm uv and pip caches automatically (#102)
  lib/toolchain/node.go
  lib/toolchain/python.go
  lib/toolchain/python_test.go
  lib/toolchain/toolchain.go
Due: run-goversion, run-regexp

feat(build): warm Gradle, Maven, .NET and Cargo caches automatically
  examples/embed.go
  examples/embed_test.go
  ingredients/build/build.go
  lib/service_info/service_info.go
  lib/service_info/service_info_test.go
  lib/templates/builds/dotnet.yaml
  lib/templates/builds/java.yaml
  lib/templates/builds/kotlin.yaml
  lib/templates/templates.go
  lib/toolchain/dotnet.go
  lib/toolchain/jvm.go
  lib/toolchain/jvm_dotnet_rust_test.go
  lib/toolchain/rust.go
  lib/toolchain/toolchain.go
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

feat(build): warm Gradle, Maven, .NET and Cargo caches automatically (#103)
  examples/embed.go
  examples/embed_test.go
  ingredients/build/build.go
  lib/service_info/service_info.go
  lib/service_info/service_info_test.go
  lib/templates/builds/dotnet.yaml
  lib/templates/builds/java.yaml
  lib/templates/builds/kotlin.yaml
  lib/templates/templates.go
  lib/toolchain/dotnet.go
  lib/toolchain/jvm.go
  lib/toolchain/jvm_dotnet_rust_test.go
  lib/toolchain/rust.go
  lib/toolchain/toolchain.go
  schemas/pilum.yaml.schema.json
Due: run-goversion, run-regexp

Path conditions:
  run-goversion: any of: \.go$
  run-regexp: any of: \.go$, but not: (_test.go|contracts/bindings/.*|scripts/|db/ent/)
